<%= turbo_stream_from comment %>
<%= turbo_frame_tag comment do %>
  <div class="pl-4 py-2 my-2 rounded-lg bg-gray-700">
    <div class="mx-4 mt-3 text-lg text-gray-200">
      <%= comment.body %>
    </div>
    <div class="mt-3 mb-1 pl-2 pr-4 flex justify-between items-center">
      <div class='text-xs mx-2 text-gray-400'>
        <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user&.email %>
      </div>
      <div class="flex items-center">
        <%= link_to edit_comment_path(comment),
                    class: 'mr-2 text-yellow-400 opacity-50 hover:text-yellow-500 text-md hover:opacity-100' do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
          </svg>
        <% end %>
        <%= button_to comment_path(comment), method: :delete,
                    data: { confirm: 'Are you sure?'},
                    class: 'mr-2 text-yellow-400 opacity-50 hover:text-yellow-500 text-md hover:opacity-100' do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
