<div id="<%= dom_id user %>"
     class='min-h-96 rounded-xl transform transition duration-500' >
  <div class="my-5 mx-3 text-xl grid grid-cols-2 gap-2 text-gray-200 justify-between items-center">
    <div class="grid-cols-1 mx-auto ml-7">
      <%= image_tag user_avatar(user, 150), class: "rounded-full" %>
    </div>
    <div class="grid-cols-2 flex flex-col">
      <%= link_to user.email, edit_user_registration_path(user),
      class: 'mb-2 hover:text-yellow-400 focus:opacity-90 transition duration-300 cursor-pointer',
      data: { turbo_frame: :user_modal } %>
      <span class='text-xs text-gray-400'>
        Created at <%= time_ago_in_words(user.created_at) %> ago
      </span>

      <p class="my-2 flex-1 flex">
        <strong class="block font-semibold text-gray-300">
          First name:
        </strong>
        <span class='ml-2 text-gray-400'>
          <%= user.first_name %>
        </span>
      </p>

      <p class="flex-1 flex">
        <strong class="block font-semibold text-gray-300">
          Last name:
        </strong>
        <span class='ml-2 text-gray-400'>
          <%= user.last_name %>
        </span>
      </p>
    </div>
  </div>

  <hr>

  <div class="mt-2 mb-4 mx-3 flex">
    <% if action_name != "show" %>
      <%= link_to 'Edit account', edit_user_registration_path(user), data: { turbo_frame: :user_modal },
      class: "rounded-lg py-3 px-5 bg-yellow-400 filter saturate-150 contrast-75 text-yellow-800 font-medium hover:opacity-80" %>
    <%= button_to 'Delete', cancel_user_registration_path(user), method: :delete, data: { confirm: "Are you sure you want to delete this user?" },
      class: "p-2 ml-2 px-5 bg-transparent border-2 border-grey-300 text-grey-300 text-lg filter saturate-150 contrast-75 opacity-50 rounded-lg hover:border-yellow-400 hover:text-yellow-400 hover:opacity-100 focus:border-4 focus:border-yellow-300 focus:opacity-90 transition duration-300 cursor-pointer" %>
    <% if controller_name == 'posts' && action_name == "show" %>
      <%= link_to '◄ Back', posts_path, data: { turbo_frame: :posts }, class: "rounded-lg py-3 px-5 text-yellow-400 filter saturate-150 contrast-75 font-medium hover:underline" %>
    <% end %>
    <hr class="mt-6">
    <% end %>
  </div>
</div>
