<%= turbo_stream_from :user_history %>
<div class="flex flex-col">
  <div class="relative flex tooltip justify-end mr-10 active" id='header-tooltip'
        data-controller='hovercard'
        data-action="mouseover->hovercard#show mouseout->hovercard#hide">
    <%= link_to root_path,
        class: 'ml-10 mt-3 mb-3 px-2 pt-1 rounded text-left text-md text-gray-200 opacity-25 hover:opacity-75 transform duration-150',
        data: { turbo_frame: 'posts',
                action: 'click->service#hideHistory' } do %>
      <%= Time.zone.now.strftime("%A, %D: %k:%M:%S.%L") %>
    <% end %>
    <div class="flex flex-col px-3 py-1 bg-gray-800 text-gray-300 w-42 h-16 rounded-md z-20 absolute left-7 tooltip-item hidden"
      data-hovercard-target="card">
      <span class="font-semibold py-4">
        <%= link_to 'Home page', root_path,
            class: 'transform hover:bg-yellow-500 px-4 py-2 mr-5 text-gray-600 border-2 border-gray-600 rounded-lg hover:text-yellow-800 hover:border-yellow-500 duration-500',
            data: { turbo_frame: 'posts',
                    action: 'click->service#hideHistory' } %>
      </span>
    </div>
  </div>
  <div id='history'>
    <%= render partial: 'users/search_histories', locals: { histories: @histories} %>
  </div>
</div>
