<% if user_signed_in? %>
  <div class="flex items-center">
    <!-- <span class='text-gray-400 transform transition duration-300 hover:scale-110 cursor-pointer'>
      <%= link_to account_path(current_user), data: { turbo_frame: 'user' } do %>
        <%#= user_avatar(current_user, 40) %>
        <%= AvatarPresenter.call(current_user, 40) %>
      <% end %>
    </span> -->
    <%= render 'shared/dropdown_account' %>

    <%= link_to 'New post', new_post_path,
    class: "p-2 ml-2 px-5 bg-transparent border-2 border-grey-300 text-grey-300 text-lg filter saturate-150 contrast-75 opacity-50 rounded-lg hover:border-yellow-400 hover:text-yellow-400 hover:opacity-100 focus:border-4 focus:border-yellow-300 focus:opacity-90 transition duration-300 cursor-pointer",
    data: { turbo_frame: :modal } %>
  </div>
<% else %>
  <ul>
    <div class="flex items-center">
      <li class="flex align-center">
        <%= link_to 'Sign up', new_user_registration_path,
            class: 'rounded-lg py-3 px-5 text-yellow-400 mr bg-transparent filter saturate-150 contrast-75 font-medium hover:underline' %>
      </li>
      <li class="flex align-center">
        <%= link_to 'Log in', new_user_session_path,
            data: { turbo: false },
            class: "p-2 ml-2 px-5 bg-transparent border-2 border-grey-300 text-grey-300 text-lg filter saturate-150 contrast-75 opacity-50 rounded-lg hover:border-yellow-400 hover:text-yellow-400 hover:opacity-100 focus:border-4 focus:border-yellow-300 focus:opacity-90 transition duration-300 cursor-pointer" %>
      </li>
    </div>
  </ul>
<% end %>
