<%= form_with(model: post, id: dom_id(post), class: "contents") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full placeholder-gray-300 bg-transparent" %>
  </div>

  <div class="my5 flex gap-5">
    <div class="relative flex flex-1 flex-col pr-5">
      <div class="flex">
        Status:
        <%= form.select :status, options_for_select(Post.statuses.keys, { selected: @post.status || Post.new.status }), {include_blank: false},
        { class: 'ml-4 appearance-none w-full border border-gray-300 hover:border-gray-500 rounded shadow leading-tight focus:outline-none focus:shadow-outline placeholder-gray-300 bg-transparent'} %>
      </div>
    </div>

    <div class="flex flex-1 flex-col">
      <div class="flex">
        Category:
        <%= form.text_field :category, class: "ml-4 w-full border border-gray-300 hover:border-gray-500 rounded shadow leading-tight focus:outline-none focus:shadow-outline placeholder-gray-300 bg-transparent" %>
      </div>
    </div>

  </div>

  <div class="my-5">
    <%= form.label :content %>
    <%= form.rich_text_area :content, rows: 4, class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full placeholder-gray-300 bg-transparent" %>
  </div>


  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-yellow-400 filter saturate-150 contrast-75 text-yellow-800 font-medium hover:opacity-80" %>
    <%= link_to 'Back to posts', posts_path, class: "rounded-lg py-3 px-5 text-yellow-400 filter saturate-150 contrast-75 font-medium hover:underline" %>
  </div>
<% end %>
