<div class="inline-block text-sm pt-2 px-1 mx-2 leading-none rounded no-underline text-gray-300 bg-gray-800 hover:text-gray-400 hover:bg-gray-700 mt-4 lg:mt-0">
  <div class="relative"
       data-controller="dropdown"
       data-action='keyup@window->dropdown#closeWithKeyboard'>
    <div data-action="click->dropdown#toggle click@window->dropdown#hide"
         role="button"
         data-dropdown-target="button"
         tabindex="0"
         class="inline-block select-none outline-none">
      <span class="appearance-none flex items-center inline-block text-gray-700">
        <svg class="h-11 w-11 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
          <path d="M3 3C2.44772 3 2 3.44772 2 4C2 4.55228 2.44772 5 3 5H14C14.5523 5 15 4.55228 15 4C15 3.44772 14.5523 3 14 3H3Z"/>
          <path d="M3 7C2.44772 7 2 7.44772 2 8C2 8.55228 2.44772 9 3 9H10C10.5523 9 11 8.55228 11 8C11 7.44772 10.5523 7 10 7H3Z"/>
          <path d="M3 11C2.44772 11 2 11.4477 2 12C2 12.5523 2.44772 13 3 13H7C7.55228 13 8 12.5523 8 12C8 11.4477 7.55228 11 7 11H3Z"/>
          <path d="M15 8C15 7.44772 14.5523 7 14 7C13.4477 7 13 7.44771 13 8L13 13.5858L11.7071 12.2929C11.3166 11.9024 10.6834 11.9024 10.2929 12.2929C9.90237 12.6834 9.90237 13.3166 10.2929 13.7071L13.2929 16.7071C13.4804 16.8946 13.7348 17 14 17C14.2652 17 14.5196 16.8946 14.7071 16.7071L17.7071 13.7071C18.0976 13.3166 18.0976 12.6834 17.7071 12.2929C17.3166 11.9024 16.6834 11.9024 16.2929 12.2929L15 13.5858L15 8Z"/>
        </svg>
      </span>
    </div>
    <div data-dropdown-target="menu" class="z-10 absolute -left-4 mt-2 bg-gray-800 hidden">
      <div class="bg-gray-800 shadow rounded border border-gray-600 overflow-hidden mt-1">
        <%= form_with model: @post, url: posts_path, method: :get, data: { turbo_frame: 'posts' } do |form| %>
          <div class="flex items-center">
            <%= form.radio_button 'sort[]', 'new', class: 'appearance-none hidden' %>
            <label class="flex flex-col w-full cursor-pointer" for="sort[]_new">
              <span class='px-4 py-4 cursor-pointer flex items-center justify-start truncate uppercase font-semibold text-md text-gray-500 hover:text-gray-300 hover:bg-gray-600 w-full'>
                New posts first
              </span>
            </label>
          </div>
          <div class="flex items-center">
            <%= form.radio_button 'sort[]', 'old', class: 'appearance-none hidden' %>
            <label class="flex flex-col w-full cursor-pointer" for="sort[]_old">
              <span class='px-4 py-4 cursor-pointer flex items-center justify-start truncate uppercase font-semibold text-md text-gray-500 hover:text-gray-300 hover:bg-gray-600 w-full'>
                Old posts first
              </span>
            </label>
          </div>
          <div class="flex items-center">
            <%= form.radio_button 'sort[]', 'likes', class: 'appearance-none hidden' %>
            <label class="flex flex-col w-full cursor-pointer" for="sort[]_likes">
              <span class='px-4 py-4 cursor-pointer flex items-center justify-start truncate uppercase font-semibold text-md text-gray-500 hover:text-gray-300 hover:bg-gray-600 w-full'>
                Descending likes
              </span>
            </label>
          </div>
          <div class="flex items-center">
            <%= form.radio_button 'sort[]', 'dislikes', class: 'appearance-none hidden' %>
            <label class="flex flex-col w-full cursor-pointer" for="sort[]_dislikes">
              <span class='px-4 py-4 cursor-pointer flex items-center justify-start truncate uppercase font-semibold text-md text-gray-500 hover:text-gray-300 hover:bg-gray-600 w-full'>
                Ascending likes
              </span>
            </label>
          </div>
          <div class="flex items-center">
            <%= form.radio_button 'sort[]', 'commentes', class: 'appearance-none hidden' %>
            <label class="flex flex-col w-full cursor-pointer" for="sort[]_commentes">
              <span class='px-4 py-4 cursor-pointer flex items-center justify-start truncate uppercase font-semibold text-md text-gray-500 hover:text-gray-300 hover:bg-gray-600 w-full'>
                Descending comments
              </span>
            </label>
          </div>
          <div class="flex items-center">
            <%= form.radio_button 'sort[]', 'uncommentes', class: 'appearance-none hidden' %>
            <label class="flex flex-col w-full cursor-pointer" for="sort[]_uncommentes">
              <span class='px-4 py-4 cursor-pointer flex items-center justify-start truncate uppercase font-semibold text-md text-gray-500 hover:text-gray-300 hover:bg-gray-600 w-full'>
                Ascending comments
              </span>
            </label>
          </div>
          <%= form.submit "Sort", class: 'px-4 py-2 bg-gray-700 rounded border-2 border-gray-600 hover:border-yellow-400 hover:text-yellow-400' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
