<div class="flex items-center">
  <%= form.radio_button 'sort[]', item,
      class: 'appearance-none hidden',
      data: { action: "click->dropdown-sort#clickSort" },
      selected: sorted_value == item %>
  <label class="flex flex-col w-full cursor-pointer rounded-md" for="sort[]_<%= item %>">
    <div class='px-4 py-4 cursor-pointer flex items-center justify-between rounded whitespace-nowrap truncate uppercase font-semibold text-sm text-gray-500 hover:text-gray-300 hover:bg-gray-600 w-full'>
      <%= set_title(item) %>
      <% if index.odd? %>
        <%= render 'shared/down_direction' %>
      <% else %>
        <%= render 'shared/up_direction' %>
      <% end %>
    </div>
  </label>
</div>
