<%= turbo_stream_from 'posts' %>

<%= turbo_frame_tag 'posts' do %>
  <% unless @posts.present? %>
    <div class="w-full flex justify-center pt-1">
      <div class="flex items-center w-full justify-between mt-10">
        <div class='flex items-center ml-12'>
          <h1 class="font-bold text-4xl text-gray-400 text-center w-full inline-block">
            No posts to display! Do you want to add?
          </h1>
        </div>
        <%= render 'shared/user_auth' %>
      </div>
    <div>
  <% else %>
    <div class="w-full mx-auto pt-1">
      <div class="mx-8 flex justify-between items-center mb-4">
        <div class='flex items-center'>
          <%= render 'select_form' %>
          <div id="posts_counter"
            <%= render 'posts/posts_counter', count: @page.count %>
          </div>
        </div>
        <%= render 'posts/search', posts: @posts %>
        <%= render 'shared/user_auth' %>
      </div>
      <% if @sorted_value.blank? %>
        <hr>
      <% else %>
        <span class='flex justify-between' data-controller="pagy">
          <%= render 'shared/page_prev', page: @page %>
          <hr class='mt-5 flex-1 opacity-50'>
            <div class='flex items-center rounded-xl px-4 py-2 transform border-2 border-opacity-30 relative'
                 data-action="mouseover->pagy#mouseOver mouseout->pagy#mouseOut"
                 data-pagy-target="pagy"
                 id='page-wrapper'>
              <span class='flex transform opacity-30 hidden' id='more-info' data-pagy-target="more">
                Page: <%= @page.page %> in <%= @page.pages %>
                <!-- (Posts: <%#= @page.offset + @page.in %> of <%#= @page.count %>) Page: 1 in 10 (Posts: 30 of 99) -->
                sorted <%== decode_sort_method(@sorted_value) %>
              </span>
              <span class='flex opacity-30 transform' id='lite-info' data-pagy-target="lite">
                <%== decode_sort_method(@sorted_value) %>
              </span>
            </div>
          <hr class='mt-5 flex-1 opacity-50'>
          <%= render 'shared/page_next', page: @page %>
        </span>
      <% end %>
      <%= render 'shared/loader' %>
      <div class="flex flex-row my-5">
        <div class='flex flex-wrap justify-evenly gap-3 frame-loading-hide' id="post_list">
          <%= render @posts %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
