<%= turbo_stream_from 'posts' %>
<% unless @posts.present? %>
    <div class="w-full justify-center">
      <div class="flex justify-between mt-10">
        <div>
          <h1 class="font-bold text-4xl text-gray-400 text-center w-full inline-block">
            No posts to display! Do you want to add?
          </h1>
        </div>
        <%= render 'shared/user_auth' %>
      </div>
    <div>
  <% else %>
    <div class="w-full mx-auto">
      <div class="mx-8 flex justify-between items-center mb-4">
        <div>
          <h1 class="text-lg font-bold text-4xl p-2 mt-5" id='posts_counter'>
            Post<%= @posts.size > 1 ? 's: ' : ': ' %><%= @posts.size %>
          </h1>
        </div>
        <%= render 'shared/user_auth' %>
      </div>
      <hr>
      <%= turbo_frame_tag 'posts' do %>
        <div class="flex flex-row my-5">
          <div class='flex flex-wrap justify-evenly gap-3' id="post_list">
            <% @posts = @posts.take(10) %>
            <%= render @posts %>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
