<%= turbo_frame_tag :post do %>
  <div class="mx-auto md:w-2/3 w-full max-w-6xl mt-16 flex flex-col justify-center">
    <div class="m-auto w-full max-w-3xl border-2 p-4 rounded-xl border-opacity-50"
      style="border-left-color: <%= status_color(@post.status) %>; border-left-width: 8px;">

      <%= render @post %>

      <div class="mt-4 mx-3">
      </div>
    </div>
  </div>
<% end %>

<%= turbo_stream_from @post, :comments %>
<%= tag.div id: "#{dom_id(@post)}_comments_counter",
    class: 'text-lg font-bold text-3xl p-2 mt-5 mb-3 mx-auto max-w-3xl' do %>
    Comments: <%= @post.comments.count %>
<% end %>
<div class="mt-3 mb-5 mx-auto max-w-3xl">
  <% if user_signed_in? %>
    <%= render partial: "comments/form", locals: { comment: Comment.new, commentable: @post } %>
  <% else %>
    <%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'login', new_user_session_path %> to comment
  <% end %>
</div>

<div class="mt-4 mb-5 mx-auto max-w-3xl">
  <%#= turbo_stream_from @post, :comments %>
  <%= tag.div id: "#{dom_id(@post)}_comments" do %>
    <%= render partial: "comments/comment_with_replies", collection: @post.comments.where(parent_id: nil), as: :comment %>
  <% end %>
</div>
