<!DOCTYPE html>
<html>
  <head>
    <title>HotwireCrudModal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='text-gray-200 bg-gray-800'>
    <div class="flex flex-1 justify-center mt-4">
      <%= Time.zone.now %>
    </div>
    <main class="container mx-auto mt-12 px-5 flex max-w-6xl w-full h-screen flex flex-col bg-gray-800">
      <%= yield %>
    </main>
  </body>
</html>
