<!DOCTYPE html>
<html>
  <head>
    <title>HotwireCrudModal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="current-user-id" content="<%= current_user&.id %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='antialiased text-gray-200 bg-gray-800 h-min-screen'
        data-controller='modal modal-user'
        data-controller-name='<%= controller_name %>'
        data-action-name='<%= action_name %>'>

    <div class="max-w-7xl w-full mx-auto">
      <%= turbo_frame_tag :flash %>
      <p class='mt-6 text-center'><%= Time.zone.now %></p>
      <%= yield %>
    </div>
    <%= turbo_frame_tag :modal, data: { modal_target: 'frame' } %>
    <%= turbo_frame_tag :user_modal, data: { modal_user_target: 'form_frame' } %>
  </body>
</html>
